* {
  box-sizing: border-box;
  
}
html{
  height: 100%;
}

body {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(69,86,102,1) 0%, rgba(34,34,34,1) 90% );
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
}

table {
  min-width: 500px;
  background: #FFF;
  padding: 10px;
  box-shadow: 0 3px 6px #00000040;
  border-radius: 20px;
  text-align: center;
}

#page-numbers{
list-style-type: none;
background: rgb(250, 248, 248);
border-radius: 5px;
}

#page-numbers > li{
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 3px;  
}
#page-numbers > li:hover{
  background: rgb(121, 139, 151);
  color: #FFF;
}
.crud{
  color: rgb(207, 204, 204);
  margin-left: 18rem;
}